/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header h1{
  font-family: "Baskerville", serif;
  font-weight: normal;
  font-size: 80px;
  color: rgb(147, 166, 160);
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 0px 0px 0.25px 0px;
  border-color: rgb(203, 203, 203);
}

hr {
  font-size: 1px;
  font-weight: normal;
  margin-bottom: 5px;
  color: rgb(147, 166, 160);
}

.necklace {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(147, 166, 160);
}



footer {
	float: right;
	font-size: 12px;
}






